if SHIELD_DECADECA_LEFT

config ZMK_KEYBOARD_NAME
    default "Decadeca_Split"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_DECADECA_LEFT || SHIELD_DECADECA_RIGHT

config ZMK_SPLIT
    default y

endif